Package: beagletomb
Version: 0.1.6-0ubuntu1
Architecture: i386
Maintainer: Grant Hutchinson (HutchGrant) <h.g.utchinson@gmail.com>
Installed-Size: 468
Depends: libqt4-dev, libqt4-sql, libqt4-sql-sqlite, libqt4-sql-mysql, libqt4-network, mplayer, qt4-qmake, g++, make, libqt4-opengl, libqt4-opengl-dev
Section: net
Priority: extra
Homepage: http://sourceforge.net/projects/beagletomb/
Description: Remote audio and video client
 Enables any user to connect with their
 entire media library, remotely, at the
 click of a button. Requires a mediatomb server
 configured to mysql.  See documentation in:
 /opt/extras.ubuntu.com/beagletomb/docs
